# Local / environment files
*.local

# Study materials / docs
Final Report/
Mid Syllabus/
Data Structure book/
Final Syllabus/
*.pdf

# Compiled C/C++ files
*.exe
*.o
*.out

# VS Code settings
.vscode/*
!.vscode/extensions.json
